<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="css/style.css" rel="stylesheet">

    <title>wikiwkiwkiwkikiwkwikwikiwkiwkikwikwikwikiwkiwkiiwkikwik</title>
  </head>
  <body>
    <div class="main-container">
      <header class="main-header">
        <nav class="user-menu">
          <ul>
            <li><a href="form.html">Create account</a></li>
            <img src="img/fej.png" class="fejimg">
            <li class="notlogged">Not logged in</li>
            <li><a href="#">Talk</a></li>
            <li><a href="#">Contributions</a></li>
            <li><a href="#">Log in</a></li>
          </ul>
        </nav>

        <nav class="talk-menu">
        <ul class="special">
          <li class="special-active"><a href="#">Article</a></li>
          <li class="special-notactive"><a href="#">Talk</a></li>
        </ul>
      </nav>

        <nav class="edit-menu">
        <ul class="special">
          <li class="special-active"><a href="#">Read</a></li>
          <li class="special-notactive"><a href="#">Edit</a></li>
          <li class="special-notactive"><a href="#">View history</a></li>
        </ul>
        </nav>

        <form>
          <input type="search" class="search-menu" placeholder="Search">
        </form>
        <a href="#"><div class="simg"></div></a>

      </header>

      <main>
        <h1>Margaret Hamilton (scientist)</h1>
        <div class="source">From Wikipedia, the free encyclopedia</div>
        <p class="warning">
          <em>
            For other people named Margaret Hamilton, see Margaret Hamilton (disambiguation).
          </em>
        </p>
        <div class="biography">
          <img src="img/margaret-profile.jpg" alt="Margaret Hamilton">
        </div>
        <p>
          Margaret Heafield Hamilton (born August 17, 1936)[1] is a computer scientist, systems engineer, and business owner. She was Director of the Software Engineering Division of the MIT Instrumentation Laboratory, which developed on-board flight software for the Apollo space program.[2] In one of the critical moments of the Apollo 11 mission, Hamilton's team's work prevented an abort of landing on the moon.[3] In 1986, she became the founder and CEO of Hamilton Technologies, Inc. in Cambridge, Massachusetts. The company was developed around the Universal Systems Language based on her paradigm of Development Before the Fact (DBTF) for systems and software design.[4]
        </p>
        <p>
          Hamilton has published over 130 papers, proceedings, and reports concerned with the 60 projects and six major programs in which she has been involved.
        </p>
        <h2>Early life</h2>
        <p>
          Margaret Heafield was born to Kenneth Heafield and Ruth Esther Heafield (née Partington).[5] She graduated from Hancock High School in 1954, and earned a B.A. in mathematics with a minor in philosophy from Earlham College in 1958.[6] After graduation, she briefly taught high school math and French while her husband finished earning his undergraduate degree. She moved to Boston, Massachusetts, with the intention of doing graduate study in abstract mathematics at Brandeis University. In 1960 she took an interim position at MIT to develop software for predicting weather on the LGP-30 and the PDP-1 computers (at Marvin Minsky's Project MAC) for professor Edward Norton Lorenz in the meteorology department.[1][7] At that time, computer science and software engineering were not yet disciplines; instead, programmers learned on the job with hands-on experience.[2]
        </p>
        <p>
          From 1961 to 1963, she worked on the SAGE Project at Lincoln Labs, where she was one of the programmers who wrote software for the first AN/FSQ-7 computer (the XD-1), to search for "unfriendly" aircraft; she also wrote software for the Air Force Cambridge Research Laboratories.
        </p>
      </main>

      <footer class="main-footer">
        footer
      </footer>
    </div>
    <aside class="main-sidebar">
      <a href="#" class="logo">Wikipedua</a>
      <ul>
          <li><a href="#">Main page</a></li>
          <li><a href="#">Contents</a></li>
          <li><a href="#">Featured content</a></li>
          <li><a href="#">Current events</a></li>
          <li><a href="#">Random article</a></li>
          <li><a href="#">Donate to Wikipedia</a></li>
          <li><a href="#">Wikipedia store</a></li>
      </ul>
      <h3>Interaction</h3>
      <ul>
          <li><a href="#">Help</a></li>
          <li><a href="#">About Wikipedia</a></li>
          <li><a href="#">Community portal</a></li>
          <li><a href="#">Recent changes</a></li>
          <li><a href="#">Contact page</a></li>
      </ul>
      <h3>Tools</h3>
      <ul>
          <li><a href="#">What links here</a></li>
          <li><a href="#">Related changes</a></li>
          <li><a href="#">Upload file</a></li>
          <li><a href="#">Special pages</a></li>
          <li><a href="#">Permanent link</a></li>
          <li><a href="#">Page information</a></li>
          <li><a href="#">Wikidata item</a></li>
          <li><a href="#">Cite this page</a></li>
      </ul>
      <h3>Print/export</h3>
      <ul>
          <li><a href="#">Create a book</a></li>
          <li><a href="#">Download as PDF</a></li>
          <li><a href="#">Printable version</a></li>
      </ul>
      <h3>Languages</h3>
      <ul>
          <li><a href="#">Main page</a></li>
          <li><a href="#">Contents</a></li>
          <li><a href="#">Featured content</a></li>
          <li><a href="#">Current events</a></li>
          <li><a href="#">Random article</a></li>
          <li><a href="#">Donate to Wikipedia</a></li>
          <li><a href="#">Wikipedia store</a></li>
      </ul>

    </aside>
  </body>
</html>
