body {
  display: flex;
  flex-direction: row;
  margin: 0;
  min-height: 100vh;
  background-color: #f6f6f6;
  background-image: linear-gradient(#ffffff 2%,#f6f6f6 80px);

  font-size: 14px;
  font-family: arial , sans-serif;
}
footer ul {
  padding: 0;
  display: flex;
}
footer li {
  padding: 5px 5px 5px 0;
}

main {
  background-color: #FFF;
  border: 1px solid #a7d7f9;
  border-right: 0;
  padding: 20px;
}
aside ul {
  margin: 0 0 0 15px;
  list-style-type: none;
  font-size: 12px;
  padding: 0 3px;
}
aside li {
  padding-top: 6px;
}
input {
  box-sizing: border-box;
  border: 1px solid #aaa;
  width: 100%;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
main h1, main h2 {
  border-bottom: solid 1px #aaa;
  font-family: serif;
  font-weight: normal;
  overflow: hidden;
}
h1 {
  font-size: 28.8px;
}
h4 {
  margin: 0;
  color: #4d4d4d;
  font-weight: normal;
  font-size: 12px;
}

.biography {
  background-color: #F9F9F9;
  border: 1px solid #aaa;
  float:right;
  margin: auto;
  box-sizing: border-box;
  padding: 10px;
  margin: 8px;
  max-width: 270px;
}
.biography p {
  font-size: 12px;
  margin: 0;
}
.margaret-profile {
  margin-left: 15px;
}
.bio-title {
  margin: 5px 0 5px 0;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.bio-center {
  text-align: center;
}
.bio-column {
  font-weight: bold;
  min-width: 72px;
}
.bio-row {
  font-size: 12px;
  display: flex;
  padding: 5px;
}
.content-box {
  border: 1px solid #aaa;
  background-color: #f9f9f9;
  max-width: 130px;
}
.content-box ul {
  padding-left: 5px;
}
.content-box li {
  padding: 3px;
  list-style-type: none;
}
.content-box a span {
  margin-right: 10px;
}
.content-box h3 {
  text-align: center;
}
.main-container {
  font: 14px arial, sans-serif;
  order: 2;
  width: 100%
}
.main-header {
  height: 80px;
  position: relative;
}
.main-header ul {
  padding: 0;
  margin: 0;
  display: flex;
  text-align: left;
}
.main-header li, footer ul {
  list-style-type: none;
}
.main-footer {
  font-size: 11px;
  height: 150px;
  padding: 12px;
}
.main-sidebar {
  order: 1;
  min-width: 176px;
  line-height: 15px;
}
.edit-menu {
  font-size: 13px;
  bottom: 0;
  right: 325px;
}
.footer-links {
  float: left;
}
.logo {
  display: block;
  width: 135px;
  height: 155px;
  background: url(../img/enwiki.png);
  margin: 6px auto 25px 0;
  color: rgba(0,0,0,0);
}
.fejimg {
  padding-left: 6px;
}
.footer-img {
  float: right;
  text-align: right;
}
.notlogged {
  color: grey;
}
.references-column {
  -webkit-column-count: 2;
}
.references-column li{
  margin-left: 20px;
}
.source {
  font-size: 12.88px;
}
.sidebar-one {
  margin-left: 10px;
}
.sidebar-one img {
  padding: 5px 0;
}
.simg {
  background: url(../img/search.png) no-repeat;

  right: 22px;
  bottom: 12px;
  width: 12px;
  height: 13px;
}
.search-menu {
  padding: 5px 20px 5px 5px;
  outline: 0;
  width: 300px;
  right: 15px;
  bottom: 5px;
  background-image: linear-gradient(to bottom, #f6f6f6 0%, #fff 70%);
}
.search-menu, .edit-menu, .talk-menu, .user-menu, .simg {
  position: absolute;
}
.special-active a {
  color:#000;
}
.special-active {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to top, rgb(167, 215, 249) 0, rgba(0, 0, 0, 0) 100%) 1 100% stretch;

  border-top: 0px;
  border-bottom: 1px solid #fff;
  bottom: -1px;
  background-color: white;
  color: #000;
  padding: 6px;

  position: relative;
  bottom: -1px;
}
.special-active a:hover {
  text-decoration: none;
}
.special-notactive {
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to top, rgb(167, 215, 249) 0, rgba(0, 0, 0, 0) 100%) 1 100% stretch;
  border-top: 0;
  border-left: 0;
  border-bottom: 0;

  background-image: linear-gradient( #fff 15%, #A7D7F9 300%);

  padding: 7px;
}
.talk-menu {
  font-size: 13px;
  bottom: 0;
  left: 0;
}
.user-menu {
  font-size: 12px;
  padding: 10px;
  top: 0;
  right: 0;
}
.user-menu li {
  margin: auto 5px;
}
.warning {
  margin-left: 10px;
}

input[type="search"] {
   -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
   -webkit-appearance: none;
}
