body {
  display: flex;
  flex-direction: row;
  margin: 0;
  min-height: 100vh;
  background-color: #f6f6f6;
  background-image: linear-gradient(#ffffff 1%,#f6f6f6 15%);

  font-family: sans-serif;
  font-size: 16px;
}
main {
  background-color: #FFF;
  border: 1px solid #a7d7f9;
  border-right: 0;
  padding: 20px;
}
main h1, main h2 {
  border-bottom: solid 1px #aaa;
  font-family: serif;
  font-weight: normal;
  overflow: hidden;
}
h1 {
  font-size: 28.8px;
}

.biography {
  background-color: #F9F9F9;
  border: grey solid 1px;
  width: 270px;
  float:right;
  margin: auto 15px;
  padding: 25px;
  box-sizing: border-box;
}
.main-header {
  height: 80px;
  position: relative;
}

.main-header ul {
  padding: 0;
  margin: 0;

  display: flex;
}
.main-header li {
  list-style-type: none;
}
.main-footer {
  height: 150px;
}
.main-container {
  order: 2;
  width: 100%
}
.main-sidebar {

  order: 1;
  min-width: 176px;
}
.logo {
  display: block;
  width: 135px;
  height: 155px;
  background: url(../img/enwiki.png);
  margin: 6px auto 0;
  color: rgba(0,0,0,0);
}
.source {
  font-size: 12.88px;
}
.warning {
  margin-left: 10px;
}
.user-menu {
  font-size: 13px;
  padding: 10px 0px;
  top: 0;
  right: 0;
}
.talk-menu {
  font-size: 14px;
  bottom: 0;
  left: 0;
}
.edit-menu {
  bottom: 0;
  right: 315px;
}
.search-menu {
  right: 15px;
  bottom: 5px;
  width: 300px;
}
.search-menu, .edit-menu, .talk-menu, .user-menu, .simg {
  position: absolute;
}
.special {
  border: 1px solid #a7d7f9;
  color: #000;
  border-bottom: 0px;
  border-top: 0px;
  position: relative;
  height: 30px;
  bottom: -1px;
  background-color: white;
}
.special a:visited {
  color: #000;
}
.special a:active {
  color: #000;
}
